.root {
    -fx-background-color: black;
    -fx-font-family: "Arial", sans-serif;
    -fx-base: white;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-size: 10px;  /* Größere Schrift */
    -fx-padding: 10px 20px;  /* Mehr Innenabstand */
    -fx-min-width: 150px;  /* Minimale Breite */
    -fx-min-height: 40px;  /* Minimale Höhe */
}

.text-area {
    -fx-control-inner-background: #303030;
    -fx-text-fill: white;
    -fx-highlight-fill: white;
    -fx-highlight-text-fill: black;
}

.label {
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: #303030;
    -fx-mark-color: white;
    -fx-arrow-button-fill: white;
    -fx-text-fill: white;

}