/* Allow buttons to grow,
   by setting a large max-size */
.button {
    -fx-max-height: 10000px;
    -fx-max-width: 10000px;
    -fx-padding: 40px;
}


/* Right-align the text-field */
.text-field {
    -fx-alignment: center-right;
    -fx-opacity: 1.0;
    -fx-padding: 50;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

